Repository fibercrypto/fibercryptowallet, pull requests merged in 2020-02, with the labels that each got.

#334 Improve Address Book layout, refactor code and fix many bugs
  fonts.qrc
  images.qrc
  main.go
  qml.qrc
  resources/fonts/hemi-head/hemi-head.ttf
  resources/fonts/hemi-head/typodermic-eula-02-2014.pdf
  resources/images/icons/contacts.svg
  resources/images/icons/delete.svg
  resources/images/icons/license.svg
  resources/images/icons/log_level_debug.svg
  resources/images/icons/log_level_error.svg
  resources/images/icons/log_level_fatal.svg
  resources/images/icons/log_level_info.svg
  resources/images/icons/log_level_panic.svg
  resources/images/icons/log_level_warn.svg
  resources/images/icons/user.svg
  resources/images/icons/user_icon-icons.com_66546.svg
  src/coin/skycoin/config/config.go
  src/coin/skycoin/main.go
  src/models/config.go
  src/ui/AddressBook.qml
  src/ui/Blockchain.qml
  src/ui/CustomMenuBar.qml
  src/ui/Delegates/AddressListDelegate.qml
  src/ui/Delegates/ContactDelegate.qml
  src/ui/Delegates/DestinationListDelegate.qml
  src/ui/Delegates/WalletListAddressDelegate.qml
  src/ui/Delegates/WalletListDelegate.qml
  src/ui/Dialogs/DialogAddContact.qml
  src/ui/Dialogs/DialogGetPassword.qml
  src/ui/Dialogs/DialogQR.qml
  src/ui/Dialogs/DialogSelectAddressByAddressBook.qml
  src/ui/Dialogs/DialogSelectSecType.qml
  src/ui/Dialogs/DialogSetPassword.qml
  src/ui/Dialogs/DialogShowContact.qml
  src/ui/Dialogs/MsgDialog.qml
  src/ui/Dialogs/NumPadDialog.qml
  src/ui/GeneralStackView.qml
  src/ui/MenuThemeAccent.qml
  src/ui/Settings.qml
  src/ui/SettingsAddressBook.qml
  src/ui/SubPageSendAdvanced.qml
  src/ui/SubPageSendSimple.qml
  src/ui/main.qml
  src/ui/splash.qml
  src/util/logging/logging.go
Labels: addressbook, bug, config, gui

#338 Fixes #337 - FormatCoins problem with representations of numbers less than zero
  src/models/walletsManager.go
  src/util/util.go
  src/util/util_test.go
Labels: bug, wip

#306 Fixes #295 slow load times
  main.go
  src/coin/mocks/TransactionOutput.go
  src/coin/skycoin/config/config.go
  src/coin/skycoin/main.go
  src/coin/skycoin/models/account.go
  src/coin/skycoin/models/account_test.go
  src/coin/skycoin/models/coin.go
  src/coin/skycoin/models/coin_test.go
  src/coin/skycoin/models/main.go
  src/coin/skycoin/models/main_test.go
  src/coin/skycoin/models/network.go
  src/coin/skycoin/models/wallet.go
  src/core/coin.go
  src/core/network.go
  src/errors/error.go
  src/main/config.go
  src/main/plugin.go
  src/models/address/address.go
  src/models/addressesModel.go
  src/models/history/history.go
  src/models/history/historyManager.go
  src/models/modelAddresses.go
  src/models/modelOutputs.go
  src/models/modelWallets.go
  src/models/modelsManager.go
  src/models/pending/PendingModel.go
  src/models/qtransaction.go
  src/models/walletsManager.go
  src/models/walletsModel.go
  src/params/params.go
  src/ui/Delegates/HistoryFilterListDelegate.qml
  src/ui/Delegates/WalletListAddressDelegate.qml
  src/ui/Delegates/WalletListDelegate.qml
  src/ui/Dialogs/DialogAddLoadWallet.qml
  src/ui/HistoryFilterList.qml
  src/ui/Outputs.qml
  src/ui/PageHistory.qml
  src/ui/PageWallets.qml
  src/ui/Settings.qml
  src/ui/SubPageSendSimple.qml
  src/util/account.go
  src/util/coin.go
  src/util/coin_test.go
Labels: gui, wallet
